* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #c4cecb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.container {
    width: 100%;
    max-width: 800px;
    text-align: center;
    padding: 20px;
}

.kotak_login,
.kotak_register,
.form-edit-box,
.table {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 20px; 
}

h1,
.tulisan_login {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

form,
table {
    width: 100%;
}

td {
    padding: 10px 0;
}

input[type="text"],
input[type="password"],
select,
button {
    width: calc(100% - 10px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.tombol_login,
.editButton,
.deleteButton,
.form-edit-box-button input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    margin: 5px 0;
}

.tombol_login,
.editButton {
    background-color: #356859; 
}

.tombol_login:hover,
.editButton:hover,
.form-edit-box-button input[type="submit"]:hover {
    background-color: #2b6856;
    transition: background-color 0.3s ease;
}

.deleteButton {
    background-color: #f44336; 
}

.deleteButton:hover {
    background-color: #e53935;
}

a {
    text-decoration: none;
    color: #356859;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}

.form-edit-box {
    margin: 160px auto;
}

.form-edit-box-item,
.form-edit-box-level label {
    margin-bottom: 15px;
}

.form-edit-box-item label {
    display: block;
    font-size: 16px;
}

.form-edit-box-level {
    margin-bottom: 15px;
}

.form-edit-box-level input[type="radio"] {
    margin-right: 5px;
    vertical-align: middle;
}

.table {
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #ddd;
}

.table th,
.table td {
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid #000000;
    border-right: 2px solid #000000;
}

.table th {
    background-color: #f2f2f2;
    border-bottom: 3px solid #000000;
}

.table tr:hover {
    background-color: #f9f9f9;
}

.kotak_register {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: auto; 
    max-width: 400px;
    margin-bottom: 20px;
}
